@charset 'UTF-8';

html {
  background: #000
}

h1,h2 {
  text-align: center;
  color: #FFF
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tivel {
  width: 300px;
  margin: auto;
}
